@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

logotohome img{
    border-radius: 70%;
    width: 70px;
    height: 70px;
    object-fit: cover; /* 画像のトリミング */
}
header{
    text-align: center;
    color: #fffffff1;
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #1b2e52;
    padding: 10px;
}
header-text{
    color: #fffffff1;
    text-decoration: none;
}



/* ========== common ========== */
body {
    color: #1b2e52;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: #fffffff1;
}
main{
    padding-right: 30px;
}
h1{
    text-align: center;
    color: #fffffff1;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 800;
    font-size: 65px;
    font-style: normal;
    background-image:url(../images/kabegami_3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100;
    padding-top: 70px;
    padding-bottom:83px;
    text-shadow: 2px 2px 10px#393939;
}
h2{
    text-align: center;
    color: #1b2e52;
    font-size: 30px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding-top: 30px;
    padding-bottom: 20px;
}
h3{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 48px;
    color: #fffffff1;
    font-size: 30px;
}
div{
    margin-top: 1em;
    margin-left: 3em;
}
p{
    margin-top: 30px;
}
pp{
    margin-top: 70px;
}
span.blackback{
    text-indent: 3em;
    background: #393939;
    color: #fffffff1;
}
p1{
    font-size: larger;
}
orange{
    color: #FFAD09;
}
a{
    color: #1b2e52;
}
sen{
    border-bottom: dashed 3px #ffffff;
}
kasen{
    border-bottom: solid 3px #cce4ff;
  position: relative;
}
kasen:after{
    position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #688cfa;
  bottom: -3px;
  width: 20%;
}
kasen2{
    border: solid 3px #ffffff;/*線色*/
    padding: 0.1em;/*文字周りの余白*/
    border-radius: 0.5em;/*角丸*/
}
midashi {
    position: relative;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fffffff1;
    border-radius: 10px;
    background: #1b2e52;
  }
  
  midashi:after {
    position: absolute;
    bottom: -9px;
    left: 1em;
    width: 0;
    height: 0;
    content: '';
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #1b2e52 transparent transparent transparent;
  }
m2 {
    position: relative;
    line-height: 1.4;
    padding:0.25em 1em;
    display: inline-block;
    top:0;
  }
  
 m2:before, m2:after { 
    position: absolute;
    top: 0;
    content:'';
    width: 8px;
    height: 100%;
    display: inline-block;
  }
 m2:before {
    border-left: solid 2px #1b2e52;
    border-top: solid 2px #1b2e52;
    border-bottom: solid 2px #1b2e52;
    left: 0;
  }
 m2:after {
    content: '';
    border-top: solid 2px #1b2e52;
    border-right: solid 2px #1b2e52;
    border-bottom: solid 2px #1b2e52;
    right: 0;
}
a.btn_02 {
	display: block;
	text-align: center;
	text-decoration: none;
    font-size: x-large;
	width: 80%;
	margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 8.2%;
	padding-top: 30px;
    padding-bottom: 30px;
	font-weight: bold;
	border: 2px solid #1b2e52;
	background: #1b2e52;
	color: #fffffff1;
	transition: 0.5s;
}
a.btn_02:hover {
	color: #1b2e52;
	background: #fffffff1;
}
b{
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 20px;
}
img{
    padding-top: 20px;
    padding-bottom: 15px;
}
