@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

logotohome img{
    border-radius: 70%;
    width: 70px;
    height: 70px;
    object-fit: cover; /* 画像のトリミング */
}



/* ========== common ========== */
html, body {
	font-size: 16px;
	font-family: sans-serif;
	color: #ffffff;
    margin-left: 15px;
    margin-bottom: 40px;
	background: #2e4e72;
}
h1{
    text-indent: 0em;
}
h2{
    margin-left: 1em;
    margin-top: 1em;
}
h3{
    margin-left: 2em;
}
div{
    margin-top: 1em;
    margin-left: 3em;
}
p{
    margin-top: 30px;
}
pp{
    margin-top: 70px;
}
span.blackback{
    text-indent: 3em;
    background: #393939;
    color: #efefef;
}
p1{
    font-size: larger;
}
orange{
    color: #FFAD09;
}
a{
    color: #80bef5;
}
a:visited{
    color: #faa4ae;
}
sen{
    border-bottom: dashed 3px #ffffff;
}
kasen{
    border-bottom: solid 3px #cce4ff;
  position: relative;
}
kasen:after{
    position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #688cfa;
  bottom: -3px;
  width: 20%;
}
kasen2{
    border: solid 3px #ffffff;/*線色*/
    padding: 0.1em;/*文字周りの余白*/
    border-radius: 0.5em;/*角丸*/
}
midashi{
    display: inline-block;
    position: relative;
    padding: .5em .7em;
    border-radius: 30px 0 0 30px;
    background-color: #ffffff;
    color: #2e4e72;
}
midashi:before{ content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 13px;
    border-radius: 50%;
    background: #2e4e72;
}